body{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
}
h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h1 span,
h3 span{
    color: orange;
}

.flexible{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 7rem 7rem;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 70%;
}

.link-btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, orange , tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: cover;

}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-item{
    width: 50%;
    height: 400px;
    padding: 0 30px 10px;
    margin: 0 2rem 3rem 0;
    box-shadow: 10px 10px 20px gray;
}

.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#baby-border{
    border-image: linear-gradient(blue,cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}

#full-border{
    border-left: 7px solid tomato;
}

footer{
    text-align: center;
}